extends ../layout

block title
    title Danh Sách Đặt Phòng

block style
    link(rel="stylesheet", href="/css/page/bookingList.css")

block script 
  script(src="/js/bookingManager.js")

block content
  .booking-container
    h1 Danh Sách Đặt Phòng

    if bookings && bookings.length
        table
            thead
                tr
                    th Mã Đặt Phòng
                    th Phòng
                    th Ngày Nhận Phòng
                    th Ngày Trả Phòng
                    th Thời điểm đặt
                    th Thông tin đặt phòng
                    th Trạng Thái
                    th Tình trạng thanh toán
                    th Checkout

            tbody
                each booking in bookings
                    tr
                    td #{booking.id}
                    td #{booking.room_number}
                    td.datetime  #{booking.from_time}
                    td.datetime  #{booking.to_time}
                    td.datetime  #{booking.rent_at}
                    td 
                        if booking.payment_status === 'paid'
                            span.badge.badge-paid Đã Thanh Toán
                        else if booking.payment_status === 'pending'
                            span.badge.badge-pending Chờ Thanh Toán
                        else
                            span.badge.badge-unpaid Chưa Thanh Toán
                    td
                        a.btn.btn-primary(href=`/booking/details/${booking.id}`) Thông tin
                    td
                        if booking.payment_status === 'pending'
                            button.btn.btn-primary.payment-btn(data-id=`${booking.id}`) Xác Nhận Thanh Toán              
                    td
                        button.btn.btn-primary.checkout-btn(data-id=`${booking.id}`) Checkout
    else
        p Không có thông tin đặt phòng nào.