extends ../layout
include ../mixins/credit.pug

block title
  title Tài khoản - Trang chủ

block style
  link(rel="stylesheet", href="/css/profile.css")
  link(rel="stylesheet", href="/css/mixins/credit.css")


block content
  .profile-container
    .top-section
      a.button.back-to-dashboard(href="/dashboard") Quay lại Dashboard

    .personal-info
      img.profile-img(src=user.img alt="Profile Picture")
      h1 #{user.first_name} #{user.last_name}
      p
        strong Email: 
        | #{user.email}
      p
        strong Phone: 
        | #{user.phone}
      p
        strong Address: 
        | #{user.address}

    .history-section
      .booking-history
        h2 Lịch sử đặt phòng
        if bookings
          table
            thead
              tr
                th Số phòng
                th Loại phòng
                th Thời gian đến
                th Thời gian đi
                th Thành tiền
            tbody
              each booking in bookings
                tr
                  td #{booking.room_number}
                  td #{booking.room_type}
                  td #{booking.from_time}
                  td #{booking.to_time}
                  td #{booking.income}
        else
          p Chưa có lịch sử đặt phòng.

      .service-history
        h2 Lịch sử sử dụng dịch vụ
        if services
          table
            thead
              tr
                th Tên dịch vụ
                th Số lượng
                th Giá thành
            tbody
              each service in services
                tr
                  td #{service.service_name}
                  td #{service.number}
                  td #{service.income}

        else
          p Chưa có lịch sử sử dụng dịch vụ.

    .credit-info
      h2 Credit Cards
      ul.credit-list
        each credit in credits
          +creditCard(credit) 
