extends ../../layout.pug

include ../../mixins/furniture.pug

block title
  title Trang chỉnh sửa phòng

block style
  link(rel="stylesheet", href="/css/page/createRoom.css")
  link(rel="stylesheet", href="/css/mixins/furniture.css")

block script 
  script(src="/js/editRoom.js")

block content 
  h1 Chỉnh sửa phòng
  form(action=`/admin/room/edit/${room.room_number}` method="POST" enctype="multipart/form-data" class="form-container")
    fieldset
      legend Thông tin phòng
      .row
        .field-group
          label(for="room_number") Số phòng:
          input(type="number" id="room_number" name="room_number" required readonly value=room.room_number)
        .field-group
          label(for="floor") Tầng:
          input(type="number" id="floor" name="floor" required value=room.floor)
        .field-group
          label(for="area") Diện tích (m²):
          input(type="number" id="area" name="area" placeholder="Nhập diện tích phòng" value=room.area)
      .row
        .field-group
          label(for="hour_price") Giá theo giờ:
          input(type="number" id="hour_price" name="hour_price" required placeholder="Nhập giá theo giờ" value=room.hour_price)
        .field-group
          label(for="daily_price") Giá theo ngày:
          input(type="number" id="daily_price" name="daily_price" placeholder="Nhập giá theo ngày" value=room.daily_price)
        .field-group
          label(for="type") Loại phòng:
          input(id="type" name="type" placeholder="Loại phòng" value=room.type)
      .row
        .field-group
          label(for="status") Trạng thái:
          select(id="status" name="status" required)
            option(value="idle" selected=(room.status == 'idle')) Trống
            option(value="bussy" selected=(room.status == 'bussy')) Đang sử dụng
      .row
        .field-group
          label(for="image") Hình ảnh:
          .image-input-container
            if room.img
              img(src=room.img id="room_image" name="room_image" alt="Hình ảnh phòng")
            input(type="file" id="image" name="image" accept="image/*")
      .row
        .field-group.full-width
          label(for="notes") Ghi chú:
          textarea(id="notes" name="notes" placeholder="Nhập ghi chú về phòng")= room.notes
    fieldset
      legend Đồ nội thất
      #furniture-container
        each item in room.furnitures
          +add-furniture(item.name, item.number, readonly=true)
      #new-furniture-container
      button(type="button" id="add-furniture-btn") Thêm Nội Thất
    button(type="submit") Lưu Thay Đổi
  template#furniture-template
    +add-furniture()
